
body {
    background-image: url('background.png');
    background-repeat: repeat;
    background-size: cover;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

#left {
    float: left;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 90% 5%;
    padding: 0;
}

#view-top {
    border-radius: 8px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
    font-family: courier;
    justify-content: center;
    align-items: center;
}

.view-main {
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: scroll;
    overflow-y: scroll;
}

#view-log {
    display: block;
}

#view-system {
    display: none;
}

#view-bodies {
    display: none;
}

#view-signals {
    display: none;
}

#view-bottom {
    border-radius: 8px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

#right {
    float: right;
    width: 10%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: rgba(250, 250, 250, 0.1);
}

.button {
    border-radius: 8px;
    display: flex;
    justify-self: stretch;
    margin: 4px;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    flex-wrap: wrap;
    color: white;
    box-shadow: 5px 7px 10px black;
    background-color: rgba(250, 250, 250, 0.5);
}

.button-active {
    background-color: rgba(250, 250, 0, 0.5);
}

.button-attention {
	animation: blinkingBackground 0.7s infinite;
}

@keyframes blinkingBackground{
	0%		{ background-color: rgba(250, 250,   0, 0.5); }
	10%		{ background-color: rgba(250, 250,  25, 0.5); }
	20%		{ background-color: rgba(250, 250,  65, 0.5); }
	30%		{ background-color: rgba(250, 250, 125, 0.5); }
	40%     { background-color: rgba(250, 250, 188, 0.5); }
	50%		{ background-color: rgba(250, 250, 250, 0.5); }
	60%		{ background-color: rgba(250, 250, 188, 0.5); }
	70%		{ background-color: rgba(250, 250, 125, 0.5); }
	80%		{ background-color: rgba(250, 250,  65, 0.5); }
	90%		{ background-color: rgba(250, 250,  25, 0.5); }
	100%	{ background-color: rgba(250, 250,   0, 0.5); }
}

#button-log {
}

#button-system {
}

#button-bodies {
}

#button-signals {
}

.stars-table {
    color: white;
    border: none;
    width: 100%;
    /*table-layout: fixed;*/
    overflow-wrap: break-word;
    text-align: right;
}

.stars-caption {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    font-family: courier;
}

.stars-th {
    font-size: smaller;
    color: gray;
}

#stars-tbody {
    font-size: 120%;
}

#stars-type {
    text-align: left;
}

#stars-discovered-true {
    text-align: center;
    color: yellow;
}

#stars-discovered-false {
    text-align: center;
    color: gray;
}

#tr-odd {
    background-color: rgba(250, 250, 250, 0.10);
}

#tr-even {
    background-color: rgba(250, 250, 250, 0.05);
}

.star-circle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
    width: 20%;
    border-radius: 50%;
    /* (B) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: relative;
    margin-left: 0; 
    margin-right: auto;
}

/* (C) MATCH HEIGHT */
.star-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* (D) TEXT BLOCK */
.star-circle .star-circle-text {
    /* (D1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%; 
    width: 100%;
    text-align: center;
    /* (D2) COSMETICS */
    font-weight: 700;
    color: black;
}

