:root {
    user-select: none;
    touch-action: pan-x pan-y;
    height: 100% 
    /* put it here? overscroll-behavior: contain; */ 
}

body {
    overscroll-behavior: contain; /* or none */
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    color: white;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0;
}

#left {
    float: left;
    width: 90%;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 89% 5%;
    /*backdrop-filter: blur(3px);*/
}

#view-top {
    margin-top: 5px;
    border-radius: 8px;
    border: solid gray 1px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*backdrop-filter: blur(3px);*/
}

#view-bottom {
    border-radius: 8px;
    border: solid gray 1px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    /*backdrop-filter: blur(3px);*/
}

.view-main {
    border-radius: 8px;
    border: solid gray 1px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /*overflow-x: scroll;*/
    overflow-y: scroll;
}

#view-log {
    font-size: larger;
    /* font-family: courier, courier new, serif; */
    display: block;
}

#view-stars {
    display: none;
}

#view-bodies {
    display: none;
}

#view-signals {
    display: none;
}

#right {
    border: 0;
    margin: 0;
    justify-self: right;
    float: right;
    width: 10%;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: rgba(0, 0, 0, 0.5);
    /*backdrop-filter: blur(3px);*/
}

.button {
    border: solid 1px gray;
    border-radius: 8px;
    display: flex;
    flex-flow: wrap;
    justify-self: stretch;
    margin: 5px;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    flex-wrap: wrap;
    color: white;
    /*box-shadow: 5px 7px 10px gray;*/
    background-color: rgba(218, 165, 32, 0.4);
    white-space: pre-wrap;
    word-wrap: break-word;
    /*backdrop-filter: blur(3px);*/
}

.button-text {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    /* font-family: courier, courier new, serif; */
}

.button-active {
    background-color: rgba(250, 200, 0, 0.7);
}

.button-attention {
	animation: blinkingBackground 1.0s infinite;
}

@keyframes blinkingBackground{
	0%		{ background-color: rgba(250, 200, 0, 0.1); }
	10%		{ background-color: rgba(250, 200, 0, 0.2); }
	20%		{ background-color: rgba(250, 200, 0, 0.3); }
	30%		{ background-color: rgba(250, 200, 0, 0.4); }
	40%     { background-color: rgba(250, 200, 0, 0.5); }
	50%		{ background-color: rgba(250, 200, 0, 0.6); }
	60%		{ background-color: rgba(250, 200, 0, 0.5); }
	70%		{ background-color: rgba(250, 200, 0, 0.4); }
	80%		{ background-color: rgba(250, 200, 0, 0.3); }
	90%		{ background-color: rgba(250, 200, 0, 0.2); }
	100%	{ background-color: rgba(250, 200, 0, 0.1); }
}

#button-log {
}

#button-stars {
}

#button-bodies {
}

#button-signals {
}

#button-notes {
}

.stars-table {
    color: white;
    border: 0;
    width: 100%;
    /*table-layout: fixed;*/
    overflow-wrap: break-word;
}

.stars-table th {
    color: gray;
    border: 0;
    text-align: right;
    font-style: italic;
}

.stars-table tr {
    border: 0;
}

.stars-table td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.4em;
    text-align: right;
    border: solid 1px black;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    /*background-color: rgba(250, 250, 250, 0.15);*/
}

.stars-table caption {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    /* font-family: courier, courier new, serif; */
}
/*
.stars-table tbody {
    font-size: larger;
    font-family: monospace;
}
*/

.bodies-table {
    color: white;
    border: 0;
    width: 100%;
    /*table-layout: fixed;*/
    overflow-wrap: break-word;
}

.bodies-table tr {
    border: 0;
}

.bodies-table th {
    color: gray;
    border: 0;
    text-align: right;
    font-style: italic;
}

.bodies-table td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
    text-align: right;
    border: solid 1px black;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    /*background-color: rgba(250, 250, 250, 0.15);*/
}
/*
.bodies-table tbody {
    font-size: larger;
}
*/

.bodies-table caption {
    justify-content: right;
    text-align: right;
    border: 0;
}

.bodies-table caption div {
    border: solid 1px black;
    border-radius: 8px;
    justify-content: right;
    text-align: right;
    width: auto;
    display: inline-block;
    font-size: larger;
}

.signals-table {
    color: white;
    border: none;
    width: 100%;
    /*table-layout: fixed;*/
    overflow-wrap: break-word;
}

.signals-table th {
    font-style: italic;
    color: gray;
    text-align: center;
}

.signals-table td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
    text-align: left;
    border: solid 1px black;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    /*background-color: rgba(250, 250, 250, 0.15);*/
}

.notes-table {
    color: white;
    border: none;
    width: 100%;
    /*table-layout: fixed;*/
    overflow-wrap: break-word;
}

.notes-table th {
    font-style: italic;
    color: gray;
    text-align: center;
}

.notes-table td {
    padding-left: 5px;
    padding-right: 5px;
    /*font-size: larger;*/
    text-align: left;
    border: solid 1px black;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    /*background-color: rgba(250, 250, 250, 0.15);*/
}


/*
.signals-table tbody {
    font-size: larger;
}
*/

.hint-table {
    font-size: smaller;
    font-family: 'Courier New', monospace;
    border: solid 1px black;
    display: none;
    border-radius: 6px;
    border: 0;
    border-spacing: 2px;
    background-color: rgba(100, 100, 100, 0.80);
    overflow-x: scroll;
    overflow-y: scroll;
}

.hint-table td {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgba(130, 130, 130, 0.90);
    color: white;
    overflow-wrap: break-word;
}

.hint-table th {
    text-align: center;
    font-size: smaller;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: lightgray;
}

.signals-table tr:hover .hint-table {
    display: block;
}

.bodies-table caption:hover .hint-table {
    display: block;
}

span.char-in-circle {
    background-color: white;
    color: black;
    border-radius: 50%;
    border: solid 1px black;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    line-height: 1.5ch;
    justify-content: center;
    height: 1.5ch;
    width: 1.5ch;
}

/*
table td font span th tr i u b {
    background-color: transparent !important;
}
*/  
/*
.stars-table tr:nth-child(odd) :not(th, span, font),
.bodies-table tr:nth-child(odd) :not(th, span, font),
.signals-table tr:nth-child(odd) :not(th, span, font){
    background-color: transparent !important;
    background-color: rgba(200, 200, 200, 0.12);
}

.stars-table tr:nth-child(even) :not(th, span, font),
.bodies-table tr:nth-child(even) :not(th, span, font),
.signals-table tr:nth-child(even) :not(th, span, font){
    background-color: transparent !important;
    background-color: rgba(200, 200, 200, 0.05);
}
*/

.odd td {
    background-color: rgba(200, 200, 200, 0.05);
}

.even td {
    background-color: rgba(200, 200, 200, 0.12);
}
    

#text-left {
    text-align: left;
    justify-content: left;
}

#text-right {
    text-align: right;
    justify-content: right;
}

