<table style="font-family: Arial; font-size: larger; font-style: italic; width: 100%; border: 0; padding: 0; font-weight: bold;">
<tr>
    {{ if eq .Jumps 0 }}
    <td style="text-align: center; color: white;">
        {{ .PrevSystem }}
    </td>
    {{ else }}
    <td style="text-align: right; color: white;">
        {{ .PrevSystem }}
    </td>
    <td style="text-align: right; color: {{ .PrevStar.Color }}; font-weight: bold; width: 10%; font-size: 120%;">
        {{ .PrevStar.Type }}
    </td>
    <td style="text-align: center; color: white; width: 5%; font-weight: bold; font-size: 120%;">
        &raquo;&nbsp;{{ .Jumps }}&nbsp;&raquo;
    </td>
    <td style="text-align: left; color: {{ .NextStar.Color }}; font-weight: bold; width: 10%; font-size: 120%;">
        {{ .NextStar.Type }}
    </td>
    <td style="text-align: left; color: gray;">
        {{ .NextSystem }}
    </td>
    {{ end }}
</tr>
</table>
