<table class="signals-table">

<caption>
</caption>

<thead>
    <tr>
        <th style="text-align: right;">BodyName</th>
        <th style="text-align: center;">Type</th>
        <th style="text-align: left;">Description</th>
    </tr>
</thead>

<tbody>
{{- $odd := true}}
{{ range $i, $v := . }}
    {{ if $odd }}
        <tr id="tr-odd">
    {{ else }}
        <tr id="tr-even">
    {{ end }}
    {{ $odd = not $odd }}
        <td style="text-align: right;">{{ $v.Name }}</td>
        <td style="text-align: center;">{{ $v.Type }}</td>
        <td style="text-align: left;">{{ $v.Description }}
            <table class="hint-table">
            <thead>
                <tr>
                    <th>Variant</th>
                    <th>Payout</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>{{ $v.Hint }}</tbody>
            </table>
        </td>
    </tr>
{{ end }}
</tbody>

</table>
