<table class="stars-table">

<caption>
</caption>

<thead>
    <tr>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>Type Cl</th>
        <th>Lum</th>
        <th>Disc</th>
        <th>Dist(Ls)</th>
        <th>Rad &#9737;</th>
        <th>Mass &#9737;</th>
        <th>Temp &deg;&#8490;</th>
        <th>OrbPer(D)</th>
        <th>Eccent(e)</th>
        <th>Rings(N/R)</th>
    </tr>
</thead>

{{ $odd := false }}
<tbody>
{{ range $i, $v := . }}
    {{ if $odd }}
    <tr class="odd">
    {{ else }}
    <tr class="even">
    {{ end }}
    {{ $odd = not $odd }}
           <td><span style="color: gray;"><i>{{ $v.Name }}</i></span></td>
           {{ if $v.MainStar }}
              <td style="text-align: center; justify-content: center; align-items: center;"><span style="color: {{ $v.Type.Color }};">&lowast;</span></td>
           {{ else }}
              <td></td>
           {{ end }}
           <td>
               <span style="font-weight: bold; color: {{ $v.Type.Color }};">{{ $v.Type.Type }} {{ $v.Subclass }}</span>
           </td>
           <td>
               <span style="color: {{ $v.Type.Color }};">{{ $v.Luminosity }}</span>
            </td>
           {{ if $v.Discovered }}
               <td><span style="color: yellow;">Yes</span></td>
           {{ else }}
               <td><span style="color: gray;">no</span></td>
           {{ end }}
           <td><span style="font-size: smaller;">{{ $v.DistanceLs }}</span></td>
           <td>{{ $v.RadiusS }}</td>
           <td>{{ $v.MassS }}</td>
           <td><span style="color: {{ $v.TemperatureColor }};">{{ $v.TemperatureK }}</span></td>
           <td>{{ $v.OrbitalPeriodD }}</td>
           <td>{{ $v.Eccentricity }}</td>
           <td>{{ $v.Rings }}</td>
    </tr>
{{ end }}
</tbody>

</table>
