{{ $color := "gray" }}
{{ range $k, $v := . }}
    {{ if eq $v.Level "info" }}
        {{ $color = "gray" }}
    {{ else if eq $v.Level "warn" }}
        {{ $color = "yellow" }}
    {{ else if eq $v.Level "crit" }}
        {{ $color = "orangered" }}
    {{ end }}
    <div style="background: {{ $color }}; color: black; border-radius: 5px; margin: 0; margin-right: 5px; margin-left: 5px;">{{ $v.Text }}</div>
{{ end }}
