<table class="stars-table">

<caption>
</caption>

<thead>
    <tr>
        <th>Name</th>
        <th>Prnts</th>
        <th>Type Cl</th>
        <th>Lum</th>
        <th>Disc</th>
        <th>Dist(Ls)</th>
        <th>Rad &#9737;</th>
        <th>Mass &#9737;</th>
        <th>Temp &deg;&#8490;</th>
        <th>OrbPer(D)</th>
        <th>Eccent(e)</th>
        <th>Rings(N/R)</th>
    </tr>
</thead>

{{ $odd := false }}
<tbody>
{{ range $i, $v := . }}
    {{ if $odd }}
    <tr class="odd">
    {{ else }}
    <tr class="even">
    {{ end }}
    {{ $odd = not $odd }}
           <td style="font-style: italic; text-align: left;">{{ $v.Name }}</td>
           <td style="text-align: right; font-size: 1.1em; color: gray;">{{ $v.Parents }}</td>
           <td style="font-weight: bold; color: {{ $v.Type.Color }};">{{ $v.Type.Type }} {{ $v.Subclass }}</td>
           <td style="text-align: left; font-size: 1.1em; color: {{ $v.Type.Color }};">{{ $v.Luminosity }}</td>
           {{ if $v.Discovered }}
               <td style="color: yellow;">Yes</td>
           {{ else }}
               <td style="color: gray;">no</td>
           {{ end }}
           <td style="font-size: 1.1em;">{{ $v.DistanceLs }}</td>
           <td>{{ $v.RadiusS }}</td>
           <td>{{ $v.MassS }}</td>
           <td style="color: {{ $v.TemperatureColor }};">{{ $v.TemperatureK }}</td>
           <td style="font-size: 1.1em;">{{ $v.OrbitalPeriodD }}</td>
           <td style="font-size: 1.1em;">{{ $v.Eccentricity }}</td>
           <td style="font-size: 1.1em;">{{ $v.Rings }}</td>
    </tr>
{{ end }}
</tbody>

</table>
