<table class="stars-table">

<caption>
</caption>

<thead>
    <tr>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>Type Cl</th>
        <th>Lum</th>
        <th>Disc</th>
        <th>Dist(Ls)</th>
        <th>Rad &#9737;</th>
        <th>Mass &#9737;</th>
        <th>Temp &deg;&#8490; </th>
        <th>OrbPer(D)</th>
        <th>Eccent(e)</th>
        <th>Rings(N/R)</th>
    </tr>
</thead>

<tbody>
{{ range $i, $v := . }}
    <tr>
           <td><font color="gray"><i>{{ $v.Name }}</i></font></td>
           {{ if $v.MainStar }}
              <td><font color="{{ $v.Type.Color }}">&#x2726;</font></td>
           {{ else }}
              <td></td>
           {{ end }}
           <td style="font-weight: bold;">
               <font color="{{ $v.Type.Color }}">{{ $v.Type.Type }} {{ $v.Subclass }}</font>
           </td>
           <td>
               <font color="{{ $v.Type.Color }}">{{ $v.Luminosity }}</font>
            </td>
           {{ if $v.Discovered }}
               <td><font color="yellow">Yes</font></td>
           {{ else }}
               <td><font color="gray">no</font></td>
           {{ end }}
           <td>{{ $v.DistanceLs }}</td>
           <td>{{ $v.RadiusS }}</td>
           <td>{{ $v.MassS }}</td>
           <td><font color="{{ $v.TemperatureColor }}">{{ $v.TemperatureK }}</font></td>
           <td>{{ $v.OrbitalPeriodD }}</td>
           <td>{{ $v.Eccentricity }}</td>
           <td>{{ $v.Rings }}</td>
    </tr>
{{ end }}
</tbody>

</table>
