{{ $color := "gray" }}
{{ range $k, $v := . }}
    {{ if eq $v.Level "info" }}
        {{ $color = "gray" }}
    {{ else if eq $v.Level "warn" }}
        {{ $color = "yellow" }}
    {{ else if eq $v.Level "crit" }}
        {{ $color = "orangered" }}
    {{ end }}
    <font color="{{ $color }}">{{ $v.Text }}&nbsp;</font>
{{ end }}
