<table class="signals-table">

<caption>
</caption>

<thead>
    <tr>
        <th style="text-align: right; width: 10%;">What/Where</th>
        <th style="text-align: center; width: 20%;">Signal&nbsp;Type</th>
        <th style="text-align: left;">Description</th>
    </tr>
</thead>

<tbody>
{{ range $i, $v := . }}
    <tr>
        <td style="text-align: right; font-weight: bold;">{{ $v.Name }}</td>
        <td style="text-align: center;">{{ $v.Type }}</td>
        {{ if $v.BioHint }}
        <td style="text-align: left;">{{ $v.Description }} <span class="char-in-circle">&gt;</span>
            <table class="hint-table">
            <caption>{{ $v.Name }}</caption>
            <thead>
                <tr>
                    <th style="text-align: center;">Variant</th>
                    <th style="text-align: center;">Payout</th>
                    <th style="text-align: center;">Diversity</th>
                    <th style="text-align: center;">Notes</th>
                </tr>
            </thead>
            <tbody>{{ $v.BioHint }}</tbody>
            </table>
        {{ else }}
        <td style="text-align: left;">{{ $v.Description }}
        {{ end }}
        </td>
    </tr>
{{ end }}
</tbody>

</table>
