{{ $color := "gray" }}
{{ range $k, $v := . }}
    {{ if eq $v.Level "info" }}
        {{ $color = "white" }}
    {{ else if eq $v.Level "warn" }}
        {{ $color = "yellow" }}
    {{ else if eq $v.Level "crit" }}
        {{ $color = "#FF3030" }}
    {{ end }}
    <font color="{{ $color }}">{{ $v.Text }}</font>
{{ end }}
