<table class="bodies-table">

{{ $nots := false }}
{{ range $i, $v := . }}
    {{ if ($v.Notes) | and (ne $v.Notes "") }}
        {{ $nots = true }}
        {{ break }}
    {{ end }}
{{ end }}

<caption>
</caption>

<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Dist(Ls)</th>
        <th>DMTL</th>
        <th>Rad &oplus;</th>
        <th>Mass &oplus;</th>
        <th>Temp &deg;&#8490;</th>
        <th>Grav(G)</th>
        <th>Rs(N/R)</th>
        <th>Atmo</th>
        <th>bgGHO</th>
    </tr>
</thead>

{{ $odd := false }}
<tbody>
{{ range $i, $v := . }}
    {{ if $v.Name }}
    {{ if $odd }}
    <tr class="odd">
    {{ else }}
    <tr class="even">
    {{ end }}
    {{ $odd = not $odd }}
    <td style="color: gray; font-style: italic; text-align: left;">{{ $v.Name }}</td>
    <td><font color="{{ $v.Type.Color }}">{{ $v.Type.Type }}</font></td>
    <td>{{ $v.DistanceLs }}</td>
    <td>{{ range $j, $dmtl := $v.DMTL }}<font color="{{ $dmtl.Color }}">{{ $dmtl.Type }}</font>{{ end }}</td>
    <td>{{ $v.RadiusE }}</td>
    <td>{{ $v.MassE }}</td>
    <td>{{ $v.TemperatureK }}</td>
    <td>{{ $v.GravityG }}</td>
    <td>{{ $v.Rings }}</td>
    <td><font color="{{ $v.Atmosphere.Color }}">{{ $v.Atmosphere.Type }}</font></td>
    <td>{{ range $k, $sig := $v.Signals }}<font color="{{ $sig.Color }}">{{ $sig.Type }}</font>{{ end }}</td>
    </tr>
    {{ end }}
{{ end }}
</tbody>

</table>
