<table class="bodies-table">

<caption>
    {{- $nnum := 0 }}
    {{ range $i, $v := . }}
        {{ if ne $v.Notes  "" }}
            {{ $nnum = 1 }}
            {{ break }}
        {{ end }}
    {{ end }}
    {{ if ne $nnum 0 }}
        &Lt;&nbsp;Notable Objects&nbsp;&Gt;
    {{ end }}
    <table class="hint-table">
        <thead>
            <tr>
                <th style="text-align: center;">BodyName</th>
                <th style="text-align: center;">Notes</th>
            </tr>
        <thead>
        <tbody>
        {{ range $i, $v := . }}
        {{ if ne $v.Notes "" }}
        <tr>
            <td style="text-align: right;"><b>{{ $v.Name }}</b></td>
            <td style="text-align: left;"><i>{{ $v.Notes }}</i></td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
</caption>

<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Dist(Ls)</th>
        <th>DMTL</th>
        <th>Rad(E)</th>
        <th>Mass(E)</th>
        <th>Temp(K)</th>
        <th>Grav(G)</th>
        <th>Rs(N/R)</th>
        <th>Atmo</th>
        <th>BGGHO</th>
    </tr>
</thead>

<tbody>
{{- $odd := true}}
{{ range $i, $v := . }}
    {{ if $odd }}
        <tr id="tr-odd">
    {{ else }}
        <tr id="tr-even">
    {{ end }}
    {{ $odd = not $odd }}
    <td><font color="gray"><i>{{ $v.Name }}</i></font></td>
    <td><font color="{{ $v.Type.Color }}">{{ $v.Type.Type }}</font></td>
    <td>{{ $v.DistanceLs }}</td>
    <td>{{ range $j, $dmtl := $v.DMTL }}<font color="{{ $dmtl.Color }}">{{ $dmtl.Type }}</font>{{ end }}</td>
    <td>{{ $v.RadiusE }}</td>
    <td>{{ $v.MassE }}</td>
    <td>{{ $v.TemperatureK }}</td>
    <td>{{ $v.GravityG }}</td>
    <td>{{ $v.Rings }}</td>
    <td><font color="{{ $v.Atmosphere.Color }}">{{ $v.Atmosphere.Type }}</font></td>
    <td>{{ range $k, $sig := $v.Signals }}<font color="{{ $sig.Color }}">{{ $sig.Type }}</font>{{ end }}</td>
    </tr>
{{ end }}
</tbody>

</table>
