<table class="stars-table">

<caption>
    {{ .SystemName }}
</caption>

<thead>
    <tr>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>Type</th>
        <th style="text-align: left;">C, L</th>
        <th>Discovered</th>
        <th>Dist(Ls)</th>
        <th>Rad(Sol)</th>
        <th>Mass(Sol)</th>
        <th>Temp(K)</th>
        <th>OrbPeriod(D)</th>
        <th>RingsN</th>
        <th>RingR(Ls)</th>
    </tr>
</thead>

<tbody>
{{- $odd := true}}
{{ range $i, $v := .Data }}
    {{ if not $v.Barycenter }}
        {{ if $odd }}
            <tr id="tr-odd">
        {{ else }}
            <tr id="tr-even">
        {{ end }}
    {{ else }}
        <tr>
    {{ end }}
        {{ if not $v.Barycenter }}
           {{ $odd = not $odd }}
           <td><font color="gray"><i>{{ $v.Name }}</i></font></td>
           {{ if $v.MainStar }}
              <td><font color="{{ $v.Type.Color }}">&#x2726;</font></td>
           {{ else }}
              <td></td>
           {{ end }}
           <td style="font-weight: bold;">
               <font color="{{ $v.Type.Color }}">{{ $v.Type.Type }} {{ $v.Subclass }}</font>
           </td>
           <td style="text-align: left;">
               <font color="{{ $v.Type.Color }}">{{ $v.Luminosity }}</font>
            </td>
           {{ if $v.Discovered }}
               <td><font color="yellow">Yes</font></td>
           {{ else }}
               <td><font color="gray">no</font></td>
           {{ end }}
           <td>{{ $v.DistanceLs }}</td>
           <td>{{ $v.RadiusS }}</td>
           <td>{{ $v.MassS }}</td>
           <td>{{ $v.TemperatureK }}</td>
           <td>{{ $v.OrbitalPeriodD }}</td>
           <td>{{ $v.RingsNum }}</td>
           <td>{{ $v.RingsRadiusLs }}</td>
        {{ else }}
           <td><font color="gray">&#9741;</font></td>
        {{ end }}
    </tr>
{{ end }}
</tbody>

</table>
